---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Work from '../components/Work.astro'
import SectionBox from '../components/SectionBox.astro'
import Contacto from '../components/Contacto.astro'
import SobreMi from '../components/SobreMi.astro';
import SobreMiCard from '../components/SobreMiCard.astro';
---

<Layout title="Welcome to Astro." {...Astro.props} >
	<main class=" ">
	<SectionBox>
		<Hero/>
	</SectionBox>
	<SectionBox>
		<Work/>
	</SectionBox>
	<SectionBox>
		<Contacto/>
		
	</SectionBox>
	<SectionBox>
		<SobreMi/>
	</SectionBox>
	<SectionBox>
		<SobreMiCard/>
	</SectionBox>
	</main>
</Layout>


