


<div class="w-full flex  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10 w-full mt-4">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZEazvCT-QO6OJ_xnplEr6tHUkZogpowh_rXaIQ4i9wuopE4TyR4Wlbnvhz9TfI6RlfUPXEPg7hvOrsVyZUPcx5yxCtnHRGXY0=s2560" alt="Luis Narvaez"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Luis Narvaez</h5>
        <span class="text-md text-black-500 dark:text-gray-400">Médico Programador</span>
    </div>
    <div class="flex">
        <div id="slidingBox" class="   dark:bg-gray-800 ">
            <div class="p-6">
                <p class="text-black-700 dark:text-gray-400 text-lg">Egresado de la Universidad de Guadalajara de Medico Cirujano y Parto y Desarrollo de Sistemas Web, mi enfoque es combinar mi pasión por la tecnologia con el ambito médico, para crear experiencias nuevas e innovadoras que ayuden a que tus servicios tengan un gran alcance.</p>
            </div>
        </div>
    </div>
</div>
  
